<plugin
        id="cz.fit.vut.xvrana32.telosysplugin"
        name="Telosys Plugin"
        description="Plugin for creating Telosys DSL files from class diagrams"
        provider="Ondřej Vrána"
        class="cz.fit.vut.xvrana32.telosysplugin.VPPluginClass">

    <runtime>
        <library path="classes" relativePath="true"/>
    </runtime>

    <actionSets>
        <actionSet id="cz.fit.vut.xvrana32.telosysplugin.actionSet1">
            <toolbar
                    id="cz.fit.vut.xvrana32.telosysplugin.toolbar1"
                    orientation="north"
                    index="last"/>

            <action
                    id="cz.fit.vut.xvrana32.telosysplugin.actionSet1.InitAction"
                    actionType="generalAction"
                    label="Init Project"
                    tooltip="Initializes Telosys, prepares VP project for Graphical Telosys."
                    style="normal"
                    icon="icons/green.png"
                    toolbarPath="cz.fit.vut.xvrana32.telosysplugin.toolbar1/#">
                <!--                    menuPath="Tools/#"-->
                <actionController class="cz.fit.vut.xvrana32.telosysplugin.VPInitActionController"/>
            </action>

            <action
                    id="cz.fit.vut.xvrana32.telosysplugin.actionSet1.VerifyAction"
                    actionType="generalAction"
                    label="Verify Models"
                    tooltip="Verifies the model by running compilation without outputting any files."
                    style="normal"
                    icon="icons/green.png"
                    toolbarPath="cz.fit.vut.xvrana32.telosysplugin.toolbar1/#">
<!--                    menuPath="Tools/#"-->
                <actionController class="cz.fit.vut.xvrana32.telosysplugin.VPVerifyActionController"/>
            </action>

            <action
                    id="cz.fit.vut.xvrana32.telosysplugin.actionSet1.GenerateAction"
                    actionType="generalAction"
                    label="Generate Models"
                    tooltip="Generate Telosys models, entities..."
                    style="normal"
                    icon="icons/green.png"
                    toolbarPath="cz.fit.vut.xvrana32.telosysplugin.toolbar1/#">
                <!--                    menuPath="Tools/#"-->
                <actionController class="cz.fit.vut.xvrana32.telosysplugin.VPGenerateActionController"/>
            </action>

        </actionSet>

    </actionSets>
</plugin>
