<plugin
        id="cz.fit.vut.xvrana32.telosysplugin"
        name="Telosys Plugin"
        description="Plugin for creating Telosys DSL files from class diagrams"
        provider="Ondřej Vrána"
        class="cz.fit.vut.xvrana32.telosysplugin.VPPluginClass">

    <runtime>
        <library path="classes" relativePath="true"/>
    </runtime>

    <actionSets>
        <actionSet id="cz.fit.vut.xvrana32.telosysplugin.actionSet1">
            <toolbar
                    id="cz.fit.vut.xvrana32.telosysplugin.toolbar1"
                    orientation="north"
                    index="last"/>

<!--                    icon="icons/green.png"-->
            <action
                    id="cz.fit.vut.xvrana32.telosysplugin.actionSet1.InitAction"
                    actionType="generalAction"
                    label="Init Project"
                    tooltip="Initializes Telosys, prepares VP project for Graphical Telosys."
                    style="normal"
                    toolbarPath="cz.fit.vut.xvrana32.telosysplugin.toolbar1/#">
                <!--                    menuPath="Tools/#"-->
                <actionController class="cz.fit.vut.xvrana32.telosysplugin.actions.VPInitActionController"/>
            </action>

            <action
                    id="cz.fit.vut.xvrana32.telosysplugin.actionSet1.VerifyAction"
                    actionType="generalAction"
                    label="Verify Models"
                    tooltip="Verifies the model by running compilation without outputting any files."
                    style="normal"
                    toolbarPath="cz.fit.vut.xvrana32.telosysplugin.toolbar1/#">
<!--                    menuPath="Tools/#"-->
                <actionController class="cz.fit.vut.xvrana32.telosysplugin.actions.VPVerifyActionController"/>
            </action>

            <action
                    id="cz.fit.vut.xvrana32.telosysplugin.actionSet1.GenerateAction"
                    actionType="generalAction"
                    label="Generate Models"
                    tooltip="Generate Telosys models, entities..."
                    style="normal"
                    toolbarPath="cz.fit.vut.xvrana32.telosysplugin.toolbar1/#">
                <!--                    menuPath="Tools/#"-->
                <actionController class="cz.fit.vut.xvrana32.telosysplugin.actions.VPGenerateActionController"/>
            </action>
        </actionSet>

        <contextSensitiveActionSet id="cz.fit.vut.xvrana32.telosysplugin.actionSet2">
            <menu
                    id="cz.fit.vut.xvrana32.telosysplugin.actionSet2.ContextActionMenu"
                    label="Telosys"
                    mnemonic="M"
                    menuPath="#"/>

            <contextTypes all="false">
                <include type="Association"/>
            </contextTypes>
            <!--            advanced actions-->
            <action
                    id="cz.fit.vut.xvrana32.telosysplugin.actionSet2.CreateLinksFKs"
                    label="Create links and FK(s)"
                    style="normal"
                    menuPath="cz.fit.vut.xvrana32.telosysplugin.actionSet2.ContextActionMenu/
                    cz.fit.vut.xvrana32.telosysplugin.actionSet2.CreateLinks">
                <actionController class="cz.fit.vut.xvrana32.telosysplugin.actions.contextactions.VPCreateLinksFKsContextActionController"/>
            </action>

            <action
                    id="cz.fit.vut.xvrana32.telosysplugin.actionSet2.CreateFKs"
                    label="Create FK(s)"
                    style="normal"
                    menuPath="cz.fit.vut.xvrana32.telosysplugin.actionSet2.ContextActionMenu/
                    cz.fit.vut.xvrana32.telosysplugin.actionSet2.CreateLinks">
                <actionController class="cz.fit.vut.xvrana32.telosysplugin.actions.contextactions.VPCreateFKsContextActionController"/>
            </action>

            <action
                    id="cz.fit.vut.xvrana32.telosysplugin.actionSet2.CreateLinks"
                    label="Create links"
                    style="normal"
                    menuPath="cz.fit.vut.xvrana32.telosysplugin.actionSet2.ContextActionMenu/
                    cz.fit.vut.xvrana32.telosysplugin.actionSet2.ManyToMany">
                <actionController class="cz.fit.vut.xvrana32.telosysplugin.actions.contextactions.VPCreateLinksContextActionController"/>
            </action>

            <!--            basic actions -->
            <action
                    id="cz.fit.vut.xvrana32.telosysplugin.actionSet2.ManyToMany"
                    label="ManyToMany"
                    style="normal"
                    menuPath="cz.fit.vut.xvrana32.telosysplugin.actionSet2.ContextActionMenu/
                    cz.fit.vut.xvrana32.telosysplugin.actionSet2.OneToMany">
                <actionController class="cz.fit.vut.xvrana32.telosysplugin.actions.contextactions.VPManyToManyContextActionController"/>
            </action>

            <action
                    id="cz.fit.vut.xvrana32.telosysplugin.actionSet2.OneToMany"
                    label="OneToMany"
                    style="normal"
                    menuPath="cz.fit.vut.xvrana32.telosysplugin.actionSet2.ContextActionMenu/
                    cz.fit.vut.xvrana32.telosysplugin.actionSet2.OneToOne">
                <actionController class="cz.fit.vut.xvrana32.telosysplugin.actions.contextactions.VPOneToManyContextActionController"/>
            </action>

            <action
                    id="cz.fit.vut.xvrana32.telosysplugin.actionSet2.OneToOne"
                    label="OneToOne"
                    style="normal"
                    menuPath="cz.fit.vut.xvrana32.telosysplugin.actionSet2.ContextActionMenu/#">
                <actionController class="cz.fit.vut.xvrana32.telosysplugin.actions.contextactions.VPOneToOneContextActionController"/>
            </action>
        </contextSensitiveActionSet>
    </actionSets>
</plugin>
